body {
	background: #ADC0CE; /* Old browsers */
	background: -moz-radial-gradient(50% 300px, ellipse cover,  #ADC0CE 0%, #ffffff 81%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, 50% 300px, 0px, center center, 100%, color-stop(0%,#ADC0CE), color-stop(81%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(50% 300px, ellipse cover,  #ADC0CE 0%,#ffffff 81%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(50% 300px, ellipse cover,  #ADC0CE 0%,#ffffff 81%,#ffffff 100%); /* Opera 12+ */
	background: -ms-radial-gradient(50% 300px, ellipse cover,  #ADC0CE 0%,#ffffff 81%,#ffffff 100%); /* IE10+ */
	background: radial-gradient(ellipse at 50% 300px,  #ADC0CE 0%,#ffffff 81%,#ffffff 100%); /* W3C */
}

.control {
	font-size: 90px;
	width: 96px;
	color: #F1F1F1;
	font-family: sans-serif;
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	text-shadow: 1px 2px 1px #A0B1BD;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}

.control:hover {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	text-shadow: 3px 5px 3px #01477A;
	cursor: pointer;
	color: white;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.pic {
	height: 600px;
	width: 800px;
	font-size: 500px;
	color: white;
	font-family: sans-serif;
	display: inline-block;
	text-align: center;
	text-shadow: 6px 8px 8px #01477A;
	position: absolute;
	-webkit-transform-origin: 400px 100px 400px;
	-webkit-transition: all .5s;
	-moz-transform-origin: 400px 100px 400px;
	-moz-transition: all .5s;
	-ms-transform-origin: 400px 100px 400px;
	-ms-transition: all .5s;
	-o-transform-origin: 400px 100px 400px;
	-o-transition: all .5s;
	transform-origin: 400px 100px 400px;
	transition: all .5s;
}

.pic.current {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.pic.previous {
	-webkit-transform: rotateY(90deg) scale(.7);
	-moz-transform: rotateY(90deg) scale(.7);
	-o-transform: rotateY(90deg) scale(.7);
	-ms-transform: rotateY(90deg) scale(.7);
	transform: rotateY(90deg) scale(.7);
}

.pic.next {
	-webkit-transform: rotateY(-90deg) scale(.7);
	-moz-transform: rotateY(-90deg) scale(.7);
	-o-transform: rotateY(-90deg) scale(.7);
	-ms-transform: rotateY(-90deg) scale(.7);
	transform: rotateY(-90deg) scale(.7);
}

.cropper {
	height: 600px;
	width: 800px;
	overflow-x: hidden;
	display: inline-block;
	vertical-align: middle;
}

.content {
	margin: 42px auto;
	width: 1000px;
}

.allPics {
	height: 600px;
	width: 2400px;
	font-size: 0;
}

.right {
	text-align: right;
}

canvas, input {
	vertical-align: middle;
}
